[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
music21 = "*"
numpy = "*"
pyknon = "*"
matplotlib = "*"
scipy = "*"
fastai = "*"

[requires]
python_version = "3.6"
